/****** Object:  Table [dbo].[Feeds]    Script Date: 05/22/2012 18:06:42 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feeds]') AND type in (N'U'))
DROP TABLE [dbo].[Feeds]
GO
/****** Object:  Default [DF_Feeds_PortalId]    Script Date: 05/22/2012 18:06:42 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Feeds_PortalId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Feeds]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Feeds_PortalId]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Feeds] DROP CONSTRAINT [DF_Feeds_PortalId]
END


End
GO
/****** Object:  Default [DF__Feeds__VendorId__060DEAE8]    Script Date: 05/22/2012 18:06:42 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__Feeds__VendorId__060DEAE8]') AND parent_object_id = OBJECT_ID(N'[dbo].[Feeds]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__Feeds__VendorId__060DEAE8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Feeds] DROP CONSTRAINT [DF__Feeds__VendorId__060DEAE8]
END


End
GO
/****** Object:  Table [dbo].[Feeds]    Script Date: 05/22/2012 18:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feeds]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Feeds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[URL] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastRun] [datetime] NULL,
	[Status] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PortalId] [int] NOT NULL,
	[Category] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VendorId] [int] NOT NULL,
	[AdvancedCategoryRoot] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Filter] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Feeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Feeds] ON
INSERT [dbo].[Feeds] ([Id], [Name], [URL], [LastRun], [Status], [PortalId], [Category], [VendorId], [AdvancedCategoryRoot], [Filter]) VALUES (1, N'Laterooms', N'http://xmlfeed.laterooms.com/staticdata/hotels_standard.zip', CAST(0x0000A02200BF97A8 AS DateTime), N'Success', 0, N'Hotels', 2, N'Hotels', NULL)
INSERT [dbo].[Feeds] ([Id], [Name], [URL], [LastRun], [Status], [PortalId], [Category], [VendorId], [AdvancedCategoryRoot], [Filter]) VALUES (2, N'Trade Doubler', N'http://pf.tradedoubler.com/export/export?myFeed=13267926451624184&myFormat=12196865151077321', NULL, N'Error', 0, N'Hotels', 3, N'Hotels', NULL)
INSERT [dbo].[Feeds] ([Id], [Name], [URL], [LastRun], [Status], [PortalId], [Category], [VendorId], [AdvancedCategoryRoot], [Filter]) VALUES (3, N'Home and garden', N'http://pf.tradedoubler.com/export/export?myFeed=13305109961196734&myFormat=12196865151077321', CAST(0x0000A03100CDD5EB AS DateTime), N'Error', 0, N'Home and garden', 4, N'Home and garden', NULL)
SET IDENTITY_INSERT [dbo].[Feeds] OFF
/****** Object:  Default [DF_Feeds_PortalId]    Script Date: 05/22/2012 18:06:42 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Feeds_PortalId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Feeds]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Feeds_PortalId]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Feeds] ADD  CONSTRAINT [DF_Feeds_PortalId]  DEFAULT ((0)) FOR [PortalId]
END


End
GO
/****** Object:  Default [DF__Feeds__VendorId__060DEAE8]    Script Date: 05/22/2012 18:06:42 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__Feeds__VendorId__060DEAE8]') AND parent_object_id = OBJECT_ID(N'[dbo].[Feeds]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__Feeds__VendorId__060DEAE8]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Feeds] ADD  CONSTRAINT [DF__Feeds__VendorId__060DEAE8]  DEFAULT ((1)) FOR [VendorId]
END


End
GO
