<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ImportProductsEntities" connectionString="metadata=res://*/ImportProductsModel.csdl|res://*/ImportProductsModel.ssdl|res://*/ImportProductsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ImportProducts;persist security info=True;user id=sa;password=C130Hercules;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DNN_6_0_0Entities" connectionString="metadata=res://*/CATModel.csdl|res://*/CATModel.ssdl|res://*/CATModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=DNN_6_0_0;Persist Security Info=True;User ID=sa;Password=C130Hercules;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>