<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImportProducts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ImportProductsEntities" connectionString="metadata=res://*/ImportProductsModel.csdl|res://*/ImportProductsModel.ssdl|res://*/ImportProductsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ImportProducts;persist security info=True;user id=sa;password=C130Hercules;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DNN_6_0_0Entities" connectionString="metadata=res://*/CATModel.csdl|res://*/CATModel.ssdl|res://*/CATModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=DNN_6_0_0;Persist Security Info=True;User ID=sa;Password=C130Hercules;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <ImportProducts.Properties.Settings>
      <setting name="TempPath" serializeAs="String">
        <value>c:\temp</value>
      </setting>
    </ImportProducts.Properties.Settings>
  </applicationSettings>
</configuration>